# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Next.js
.next/
out/
.vercel/
.turbo/

# Env / secrets
.env*
!.env.example

# Tests / misc
coverage/
dist/
.DS_Store
*.log

# Editor
.vscode/
